/* Global styles */
body {
    background-color: #333366;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    box-shadow: 0 0 20px black;
    font-family: sans-serif;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: flex-start;
}

.message-container {
    border-bottom: 2px solid gray;
}

button {
    color: white;
    text-shadow: -1px -1px 2px black;
    font-family: sans-serif;
    background-color: orange;
    padding: 6px;
    border-radius: 4px;
    will-change: transform;
    transition: transform 250ms;
}

button:hover {
    transform: scale(1.05);
}

.loginHeader {
    display: flex;
    margin-left: auto;
    z-index: 5;
    height: 44px;
    position: absolute;
    top: 0;
    left: 300px;
}

.loginHeader > div {
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    padding: 20px 30px 10px 30px;
    border-radius: 0 0 8px 8px;
    margin: -10px 10px 0 0;
    will-change: transform;
    transition: transform 250ms;
}

.loginHeader > div:hover {
    transform: translateY(4px);
    box-shadow: 0 4px 8px #ffffa2;
}

.loginHeader .loggedOut {
    background-color: orange;
    text-shadow: -1px -1px 2px black;
}

.loginHeader .loggedIn {
    background-color: lightsalmon;
    color: white;
    text-shadow: 0 0 2px brown;
    font-size: 18px;
}

.material-symbols-outlined {
    display: inline-flex;
    vertical-align: bottom;
}

.alignedForm {
    display: grid !important;
    grid-template-columns: 1fr 1fr 100%;
    align-content: center;
    justify-content: end;
    align-items: start;
    justify-items: end;
}

.alignedForm > * {
    padding: 4px;
    margin: 6px;
}

.alignedForm input:invalid {
    border: 1px dashed lightcoral;
    border-radius: 1px;
}

.alignedForm error {
    color: gray;
    display: none;
}

.alignedForm input:invalid ~ error {
    display: inline;
}

.alignedForm button {
    margin-right: auto;
}

.header {
    display: flex;
    background-color: white;
    color: gray;
    font-family: "Rowdies", cursive;
    position: relative;
    z-index: 2;
    box-shadow: 0 10px 8px darkslateblue;
}

.header h2 {
    position: relative;
    z-index: 3;
    font-size: 32px;
    color: white;
    text-shadow: 1px 1px 5px black, 3px 3px 2px orange, -3px -1px 2px blue;
    font-family: "Rowdies", cursive;
    padding: 10px;
    display: block;
    justify-content: start;
}

.header h2 a {
    color: white;
    text-decoration: none;
}

.header h4 {
    position: absolute;
    left: 100px;
    top: -1.4em;
    z-index: 2;
    font-size: 100px;
    color: white;
    text-shadow: 0 0 5px red;
}

.header .roomDetail {
    flex-basis: auto;
    align-self: flex-end;
    margin-left: 20px;
    padding: 30px;
    display: inline;
    font-weight: 100;
}

.header .roomDetail h3 {
    font-weight: 100;
    font-size: medium;
    color: gray;
}

.header .roomDetail h3 strong {
    margin-left: 0.5em;
    font-weight: bold;
    font-size: x-large;
    color: #666;
}

.header .roomDetail h3 input {
    font-size: x-large;
    margin-left: 0.5em;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.header .roomDetail h3 button {
    display: inline-block;
    vertical-align: bottom;
}

.header .roomDetail a {
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    color: hotpink;
}

.clip {
    overflow: hidden;
    background-color: white;
}

.clip .container {
    padding-top: 20px;
}

/* Splash screen */

.splash {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
}

.splash .splashHeader {
    display: flex;
}

.splash .hero {
    margin: auto;
    width: 600px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr;
}


.splash h1,
h2,
h3 {
    font-family: "Rowdies", cursive;
}

.splash .hero h1 {
    display: block;
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 4;
    margin: auto;

    font-size: 80px;
    color: white;
    text-shadow: 1px 1px 5px black, 3px 3px 2px orange, -3px -1px 2px blue;
    font-family: "Rowdies", cursive;
}

.splash .hero h2 {
    display: block;
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 3;
    margin: auto;

    font-size: 240px;
    color: white;
    text-shadow: 0px 0px 20px red, 0px 0px 40px darkred;
}

.splash .logo {
    display: grid;
    grid-column: 1/3;
    grid-row: 1/3;
    height: 300px;
    width: 600px;
}

.splash .logo img {
    grid-column: 1/3;
    grid-row: 1/3;
}

.splash .logo img#tv {
    height: 300px;
    padding-left: 60px;
}

.splash .logo img#popcorn {
    height: 200px;
    padding-top: 100px;
}

.splash .hero form {
    grid-column: 2/3;
    grid-row: 2/3;
}

.splash .hero button {
    margin: 20px 40px 20px 40px;
    padding: 10px 20px 10px 20px;
    font-size: 24px;
    background-color: orange;
    border: 7px outset orange;
    border-radius: 20px;
    box-shadow: 0 0 4px magenta;
    filter: drop-shadow(10px 4px 4px #4444dd);
    width: 300px;
    position: absolute;
    top: 550px;
    left: 660px;
}

.splash .hero button:hover {
    box-shadow: 0 2px 5px magenta;
}

.rooms {
    width: 300px;
}

.splash .roomList {
    width: 250px;
    max-height: 100vh;
    overflow-y: auto;
    margin: 0;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.roomList button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #0c70bc;
    font-size: 20px;
    transition: background-color 250ms, transform 250ms;
    text-shadow: none;
    box-shadow: none;
    filter: none;
}

.roomList button:hover {
    background-color: #e8e8e8;
    transform: translateX(10px);
}

.splash .roomList > a {
    display: block;
    flex: 1 1 30%;
    padding: 8px;
    margin: 4px;
    color: white;
    text-shadow: 0 1px 1px darkslateblue;
    border-radius: 4px;
    background-color: gray;
    box-shadow: 0 4px 8px lightcyan;
}

.splash .roomList > a:hover {
    background-color: rgb(75, 101, 122);
    border-radius: 3px;
}

.splash .roomList a {
    text-decoration: none;
    will-change: transform;
    transition: transform 250ms;
}

.splash .roomList a:hover {
    transform: scale(1.025);
}

/* Profile screen */
.profile {
    display: block;
}

.profile .exit {
    margin-top: 40px;
}

.profile .exit.goToSplash {
    grid-column: 2/3;
}

.profile .exit.logout {
    grid-column: 3/4;
    background-color: lightcoral;
}

/* Login screen */
.login {
    display: block;
}

.login .failed {
    display: flex;
    margin-top: 100px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.login .failed .message {
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px;
    color: white;
    border-radius: 5px;
    background-color: lightcoral;
    box-shadow: 0 0 5px 3px lightcoral;
}

.login .failed button {
    margin-left: 20px;
    margin-right: auto;
    padding: 12px;
}

.room {
    flex-grow: 1;
    overflow-y: auto;
}

.room .chat {
    flex-grow: 1;
    height: 100%;
}

.room .chat .comment_box {
    margin-right: 20px;
    padding-right: 20px;
    height: 100%;
}

.room .chat .comment_box textarea {
    display: block;
    width: 100%;
}

.room .chat .comment_box button {
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin-top: 15px;
}

.room .chat .comment_box label {
    display: block;
    font-family: "Rowdies", cursive;
    margin-bottom: 10px;
}

.room .chat .messages {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 5px 0;
    max-height: 500px;
    overflow-y: auto;
}

.room .chat .message {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 5px 0;
}

.room .chat .message .author {
    color: #c93;
    font-weight: bold;
    margin-right: 8px;
}

.room .chat .message .content {
    flex-grow: 1;
}

.room .chat .message button {
    margin-left: 8px;
}


/* 404 page */
.notFound h1 {
    margin: 20px 20px -300px 20px;
    font-size: 500px;
    color: #f0c0c0;
}

.notFound .message {
    margin-left: 100px;
    text-shadow: 0 0 6px white;
}

.hide {
    display: none;
}

.room .replies-section {
    padding: 10px;
    margin-top: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    overflow-y: auto;
    max-height: 500px;
}

.room .chat .message-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.room .chat .message-reactions {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
}

.room .chat .reaction {
    padding: 2px 5px;
    margin-right: 4px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}


.replies-section {
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    max-height: 100%;
}

.replies-section .back-button {
    display: none;
}

.replies-section button {
    padding: 6px 12px;
    font-size: 0.8rem;
}

.replies-section h3 {
    color: #333;
    margin-bottom: 20px;
}

.replies-section .replies {
    max-height: 400px;
    overflow-y: auto;
}

.replies-section .reply {
    display: flex;
    flex-direction: column;
}

.replies-section .reply:last-child {
    border-bottom: none;
}

.replies-section .author {
    font-weight: bold;
    margin-bottom: 5px;
    color: orange;
}

.replies-section .content {
    margin-bottom: 10px;
}

.replies-section .message-reactions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
}

.replies-section .reaction {
    padding: 2px 5px;
    margin-right: 4px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.replies-section .reactions {
    display: flex;
    align-items: center;
    gap: 4px;
}

.replies-section .reaction:hover {
    background-color: #ccc;
}

.replies-section .users {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    z-index: 1;
}

.replies-section .comment_box {
    margin-top: 10px;
}

.replies-section textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.replies-section .post_room_messages {
    background-color: #0084ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.replies-section .reply .content img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;
    border-radius: 4px;
}

.replies-section .comment_box textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.replies-section .comment_box .post_room_messages {
    background-color: #007bff;
    color: white;
    padding: 6px 12px;
    font-size: 0.8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.back-button {
    display: none;
}


@media (max-width: 600px) {
    .channel-container {
        flex-direction: column;
    }

    .room {
        flex-grow: 1;
        overflow-y: auto;
        margin: auto;
        width: 500px;
        height: 100%;
    }

    .channel-list, .message-list, .narrow-message-list, .reply-list {
        max-width: 500px;
        flex: none;
    }

    .hidden {
        display: none;
    }

    .back-button {
        display: inline-block;
        margin: 10px;
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
    }

    .clip {
        overflow: hidden;
        background-color: white;
        margin: auto;
        max-width: 500px;
    }

    .splash .hero {
        display: none;
    }

    .splash .roomList {
        width: 500px;
        max-height: 100vh;
        overflow-y: auto;
        margin-left: -120px;
        padding: 20px;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    }

    .replies-section .back-button {
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-block;
}


}
